<p id="notice"><%= notice %></p>

<h1>Amenities</h1>

<table>
  <thead>
    <tr>
      <th>Toilet</th>
      <th>Bath</th>
      <th>Shower</th>
      <th>Baby</th>
      <th>Location</th>
      <th>Rating</th>
      <th>Price (per 10 mins)</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amenities.each do |amenity| %>
      <tr>
        <td><%= amenity.toilet %></td>
        <td><%= amenity.bath %></td>
        <td><%= amenity.shower %></td>
        <td><%= amenity.baby %></td>
        <td><%= amenity.location_id %></td>
        <td><%= amenity.rating %></td>
        <td><%= amenity.price %></td>
        <td><%= amenity.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
