<%= form_with(model: amenity, local: true) do |form| %>
  <% if amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>

      <ul>
      <% amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :toilet %>
    <%= form.number_field :toilet %>
  </div>

  <div class="field">
    <%= form.label :bath %>
    <%= form.number_field :bath %>
  </div>

  <div class="field">
    <%= form.label :shower %>
    <%= form.number_field :shower %>
  </div>

  <div class="field">
    <%= form.label :baby %>
    <%= form.number_field :baby %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.number_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
