<p id="notice"><%= notice %></p>

<p>
  <strong>Timein:</strong>
  <%= @booking.timeIn %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @booking.timeOut %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @booking.amount %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @booking.amenities_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
